.fond_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  color: black;
  background-color: white;
  .l_text {
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Roboto Serif";
    text-wrap: nowrap;
    
  }
}
.fond,
.fond_small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;

  img {
    width: 100%;
    height: auto;
  }
}

.fond {
  gap: 12px;
  font-size: x-large;
}

.fond_small {
  display: none;
}

@media (max-width: 768px) {
  .l_text {
    font-size: 12px;
  }

  .fond {
    font-size: large;
    display: none;
  }

  .fond_small {
    display: flex;
  }
}
